# GitHub MCP Server
# Get your github token from :
#   Github -> Settings -> Developer Settings -> Personal Access Tokens -> Tokens ( classic ) -> generate a token with "read:user" and "repo" permission and copy it her.
GITHUB_TOKEN= 
GITHUB_USERNAME=
# LeetCode MCP Server
LEETCODE_USERNAME=

#FITNESS FILE PATH
FITNESS_LOG_PATH=./data/fitness.json